<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring application 5</title>
</head>
<body>
 <h1>Author List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>FirstName</th>
        <th>LastName</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.id}">1</td>
        <td th:text="${author.firstName}">omid</td>
        <td th:text="${author.lastName}">joukar</td>
    </tr>
</table>

</body>
</html>